.banner-principal-decorativo
  &-1
    position: absolute
    top: 30%
    right: 75%
    width: 100px
    animation: float1 2s ease-in-out infinite alternate
  &-2
    position: absolute
    top: 20%
    right: 20%
    width: 100px
    animation: float1 3.5s ease-in-out infinite alternate

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 45% !important
  @media screen and (max-width: $bp-max-md)
    width: 95% !important

.banner-principal__row .banner-principal__img
  width: 600px !important
  @media screen and (max-width: $bp-max-xl)
    width:400px !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.svg') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.svg') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.svg") !important

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #2ED19B !important

.titulo-sexto.t22
  border-left-color: #1E3A8A !important

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #1E3A8A
  background-color: #DBDADA

.cen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto


.bg1
  background-color: #ECF2FB
  border-radius: 15px


.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content 
  background-color: #C0F1E1
.linea-tiempo-d .tarjeta 
  border-radius: 5px
.tarjeta--gris  
  background-color: #FCE2B5
.linea-tiempo-d.color-secundario.activo .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color:#2ED19B
  color: black !important
.linea-tiempo-d.color-secundario.activo .linea-tiempo-d__item__number 
  background-color: #F59E0B
@media only screen and (max-width: 767px)
  .linea-tiempo-d .tarjeta 
    border-radius: 5px
    padding: 0.5rem
@media only screen and (min-width: 768px) and (max-width: 1023px)
  .linea-tiempo-d.color-acento-boton .linea-tiempo-d__item--selected .linea-tiempo-d__item__content 
    padding: 0.5rem
@media only screen and (min-width: 1024px) and (max-width: 1439px)
  .linea-tiempo-d.color-acento-boton .linea-tiempo-d__item--selected .linea-tiempo-d__item__content 
    padding: 0.5rem

.tarjeta.color-acento-contenido.des
  background-color: #141A22
  border-radius: 10px
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.bg2
  background-color: #1E3A8A

.mt1
  margin-top: 35px


.tit
  background-color: #2ED19B
  border-radius: 50px
  width: fit-content
  padding: 20px 30px 20px 70px
  position: relative
  display: inline-flex
  align-items: center
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    padding: 8px 20px 8px 65px
.tit img
  width: 63px
  height: 63px
  position: absolute
  top: 50%
  left: -10px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
  @media only screen and (max-width: 767px)
    width: 55px
    height: 55px

.bloque-texto-g.color-secundario
  background-color: #BBC3DC
  border-radius: 0 60px 0 0
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 64%
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px
@media (min-width: 992px) 
  .p-lg-5 .mtt
    padding: 4rem !important

.bg3
  background-color: #ECF2FB

.color-acento-botones
  .tabs-a__tab
    padding: 12px 13px
    font-size: 16px  
    white-space: normal 
    line-height: 1.5
    min-height: 40px 
  @media (min-width: 1200px) 
    .col-xl-3
      flex: 0 0 auto
      width: 30%
    .col-xl-9
      flex: 0 0 auto
      width: 70%
.tabs-a__tab:last-child 
  margin-bottom: 0 !important
  background-color: #F59E0B
  color: black !important
.color-a
  background-color: #BBC3DC
  border-radius: 10px
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #1E3A8A !important
  color: white !important
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
  background-color: #1E3A8A !important
.color-acento-botones .tabs-a__tab 
    padding: 9px 15px
    font-size: 16px

.bg4
  background-color: #D5F6EB
  @media only screen and (min-width: 1024px) 
    margin-left: -3.4rem

.bg5
  background-color: #24A77C

.cont_5_1, .cont_5_1 *
  position: relative
.cont_5_1:before
  content: ''
  position: absolute
  width: 125%
  height: 70%
  top: 15%
  bottom: 15%
  left: -15%
  background-size: 100% 100%
.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  border-radius: 0px
.crd_hover_txt .crd_hover_txt--body
  position: absolute
  padding: 1.5rem
  width: 100%
  bottom: 0
  transition: all .5s ease-in-out
  transform: translateY(calc(100% - 3.85rem))
.crd_hover_txt:hover .crd_hover_txt--body
  transition: all .5s ease-in-out
  transform: translateY(0)
  background-color: #FCE2B5 !important
  .rot
    transform: rotate(180deg)
.crd_hover_txt:hover .crd_hover_txt--body *
  color: black !important
.colt
  background-color: #FCE2B5
.mtop
  margin-top: -18px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    margin-top: -25px
@media (max-width: 767px)
  .txp
    font-size: 0.75em !important
@media (min-width: 768px) and (max-width: 1024px)
  .txp
    font-size: 0.85em

.bg6
  background-color: #E0E8FC
  @media only screen and (min-width: 1024px) 
    margin-left: -3.4rem

.ti
  border: 4px dashed #182E6E
  border-right: none
  border-left: none
  width: fit-content
  
.tarjeta--slyder.b1
  background-color: #C0F1E1
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
.tarjeta--slyder.b2
  background-color: #FDECCE
.tarjeta--slyder.b3
  background-color: #E0E8FC
.tarjeta--slyder.b4
  background-color: #E9FBF5
.tarjeta--slyder.b5
  background-color: #DEE4F0
.slyder-f__btn 
  color: #F59E0B
  
.bg7
  background-color: #ECF2FB
  @media only screen and (min-width: 1024px) 
    margin-left: -3.4rem

.bg8
  background-color: #1E3A8A
  @media only screen and (min-width: 1024px)
    min-height: 252px

.mt2
  margin-top: 45px

.tarjeta-numerada
  border: solid 4px
.tarjeta-numerada.color-acento-contenido .tarjeta-numerada__numero div 
  color: black
.tarjeta-numerada.color-secundario .tarjeta-numerada__numero div 
  color: white
.tarjeta-numerada.color-primario .tarjeta-numerada__numero div 
  color: white
.tarjeta-numerada.color-acento-botones .tarjeta-numerada__numero 
  background-color: #104936
.tarjeta-numerada.color-acento-botones .tarjeta-numerada__numero div 
  color: white
.tarjeta-numerada.color-acento-botones 
    border-color: #104936

.bg9
  background-color: #D5F6EB
  @media only screen and (min-width: 1024px) 
    margin-right: -3.4rem

.lista-ol--cuadro__vineta 
  background-color: #2ED19B
  color: black

.bg10
  background-color: #D5F6EB
  border-radius: 20px

.tarjetaf
  background-color: #E0E8FC
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  overflow: hidden
  transition: transform 0.3s ease
.slyder-a__bullets__item 
  background-color: #BBC3DC
  border-color: #BBC3DC
.slyder-a__bullets__item--active 
  background-color: #F59E0B !important
  border-color: #F59E0B !important
.slyder-a__tipo-b .slyder-a__btn--sigt 
  content: url('../assets/curso/tema2/der.svg')
  transform: rotate(0deg)
  right: 15px
.slyder-a__tipo-b .slyder-a__btn--atrs 
  content: url('../assets/curso/tema2/izq.svg')
  transform: rotate(0deg)
  left: 15px

.fa-bolt
  content: url('../assets/curso/tema2/ico.svg')
  width: 1.5em  
  height: 1.5em 
  top: 0px !important


//////////////////////TABLAS///////////////////////////

.tabla-a thead 
    border-top: none //7px solid #366400
    color: white
    background-color: #182E6E
.tabla-a th
  border-color: #182E6E
.tabla-a
  table th
    padding: 18px 15px
    text-align: left
  table td 
    padding: 15px 13px
.tabla-a
  table
    width: 100%
    table-layout: auto
    th, td
      overflow-wrap: break-word
      white-space: normal
      vertical-align: top
.bgr
  background-color: #F6F6F6
.bgr
  background-color: #F6F6F6

.tabla-a.tab1
  border: none
  border-left: 1px solid #DEDEDE
  border-right: 1px solid #DEDEDE
  thead
    tr
      th
        border-top: none
        border-bottom: none
        border-right: none
      th:last-child
        border-right: none
  tbody
    tr
      td
        border-top: none
        border-bottom: none
        border-left: 1px solid #DEDEDE
        border-right: none
      td:last-child
        border-right: none
  th:nth-child(1)
    width: 25%
  th:nth-child(2)
    width: 40%
  th:nth-child(3)
    width: 35%